@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: 100; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100; }

img {
  border: 0;
  display: block; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: block; }

/*公共头部*/
.header {
  width: 100%; }
  .header .top-content {
    width: 100%;
    font-size: 12px;
    color: #666;
    background: #F4F4F4;
    border-bottom: 2px solid #F4F4F4; }
    .header .top-content .top {
      width: 1120px;
      margin: 0px auto; }
      .header .top-content .top .login-0 {
        width: 1120px;
        height: 24px;
        background: #F4F4F4;
        padding-top: 12px;
        display: block; }
        .header .top-content .top .login-0 .title {
          width: 100px;
          float: left; }
        .header .top-content .top .login-0 .main-unlogin {
          float: right; }
          .header .top-content .top .login-0 .main-unlogin a {
            padding: 0 8px;
            float: right;
            font-size: 13px; }
            .header .top-content .top .login-0 .main-unlogin a .icon-weibo {
              color: #d92a4b;
              font-size: 14px; }
            .header .top-content .top .login-0 .main-unlogin a .icon-weixin {
              color: #6bb305;
              font-size: 20px;
              line-height: 17px; }
          .header .top-content .top .login-0 .main-unlogin .card, .header .top-content .top .login-0 .main-unlogin .weibo {
            border-right: 1px solid #dddddd; }
        .header .top-content .top .login-0 .cart-unlogin {
          float: right;
          font-size: 13px; }
          .header .top-content .top .login-0 .cart-unlogin .cart-txt {
            line-height: 17px;
            margin: 0 3px; }
            .header .top-content .top .login-0 .cart-unlogin .cart-txt .icon-shop {
              margin: 0 3px; }
            .header .top-content .top .login-0 .cart-unlogin .cart-txt b {
              font-weight: 900;
              color: #d92a4b; }
        .header .top-content .top .login-0 .register {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          border-left: 1px solid #dddddd;
          margin-right: 20px;
          color: #333333; }
        .header .top-content .top .login-0 .login {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          color: #333333; }
      .header .top-content .top .logined {
        width: 1120px;
        height: 24px;
        background: #F4F4F4;
        padding-top: 12px;
        display: none; }
        .header .top-content .top .logined .title {
          width: 100px;
          float: left; }
        .header .top-content .top .logined .main-logined {
          float: right; }
          .header .top-content .top .logined .main-logined a {
            padding: 0 8px;
            float: right;
            font-size: 13px; }
          .header .top-content .top .logined .main-logined .vip, .header .top-content .top .logined .main-logined .card, .header .top-content .top .logined .main-logined .myorder {
            border-left: 1px solid #dddddd; }
        .header .top-content .top .logined .sigout {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          color: #333333; }
        .header .top-content .top .logined .wel {
          float: right;
          font-size: 13px;
          padding: 0 2px;
          color: #333333; }
        .header .top-content .top .logined .user {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          color: #333333; }
  .header .logo-content {
    width: 100%;
    background: #ffffff;
    height: 115px; }
    .header .logo-content .logo {
      width: 1120px;
      height: 90px;
      padding-top: 25px;
      margin: 0 auto; }
      .header .logo-content .logo .logopic {
        float: left;
        width: 328px; }
        .header .logo-content .logo .logopic img {
          width: 328px; }
    .header .logo-content .search {
      float: right;
      margin-top: 21px;
      width: 294px;
      height: 45px;
      border: 1px solid #e2e2e2;
      border-radius: 50px;
      position: relative; }
      .header .logo-content .search .search-txt {
        position: absolute;
        top: 1px;
        left: 20px;
        border: none;
        padding: 11px 0;
        width: 230px;
        height: 20px;
        outline: none; }
      .header .logo-content .search .submit {
        position: absolute;
        top: 0;
        left: 250px;
        line-height: 40px;
        font-size: 30px; }
  .header .nav-content {
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #333333;
    background: #ffffff;
    position: relative; }
    .header .nav-content .position-content {
      height: 44px;
      background: #ffffff;
      border-bottom: 2px solid #333333;
      z-index: 20; }
      .header .nav-content .position-content .nav {
        width: 1130px;
        margin: 0 auto;
        background: #ffffff; }
        .header .nav-content .position-content .nav .nav-item {
          float: left;
          text-align: center;
          margin: 0 15px; }
          .header .nav-content .position-content .nav .nav-item a {
            display: block;
            line-height: 41px;
            font-size: 16px;
            padding: 0 15px;
            color: #333333; }
          .header .nav-content .position-content .nav .nav-item .nav-down {
            width: 100%;
            position: absolute;
            left: 0;
            top: 46px;
            z-index: -5;
            height: 0;
            overflow: hidden;
            background: #ffffff;
            box-shadow: 0 0 8px #dddddd; }
            .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp {
              width: 1120px;
              height: 164px;
              margin: 0 auto;
              padding: 0 15px;
              background: #ffffff; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state {
                float: left;
                width: 380px;
                padding: 26px 15px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state h3 {
                  font-size: 16px;
                  color: #333333;
                  margin-bottom: 15px;
                  text-align: left;
                  border-bottom: 1px solid #dddddd; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state .icon-word {
                  margin: 5px 0 0 5px;
                  float: left;
                  width: 44px;
                  height: 44px;
                  background: url(../image/index-img/ico_index.png) no-repeat -106px 0; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state p {
                  float: left;
                  width: 326px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state p .country {
                    display: block;
                    line-height: 28px;
                    float: left;
                    font-size: 14px;
                    padding: 0 9px; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type {
                float: left;
                width: 550px;
                padding: 26px 15px;
                margin-left: 126px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type h3 {
                  font-size: 16px;
                  color: #333333;
                  margin-bottom: 15px;
                  text-align: left;
                  border-bottom: 1px solid #dddddd; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type .type-list .type-item {
                  float: left;
                  margin-right: 42px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type .type-list .type-item span {
                    float: left;
                    width: 26px;
                    height: 47px;
                    background: url(../image/index-img/ico_index.png) no-repeat 0 0;
                    margin-right: 5px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type .type-list .type-item a {
                    float: left;
                    font-size: 14px;
                    color: #666666;
                    padding: 0;
                    line-height: 70px; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu {
                margin-left: 130px;
                padding: 26px 15px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu .icon-card-link {
                  float: left;
                  margin: 0 20px;
                  font-size: 14px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu .icon-card-link .icon-card {
                    display: block;
                    width: 44px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -234px 0; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu .icon-card-link .icon-wineset {
                    display: block;
                    width: 44px;
                    height: 44px;
                    background: url(../image/index-img/ico_index.png) no-repeat -43px -50px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu .icon-card-link .icon-cooker {
                    display: block;
                    width: 41px;
                    height: 41px;
                    background: url(../image/index-img/ico_index.png) no-repeat 0 -50px; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian {
                margin-left: 225px;
                padding: 26px 15px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian .icon-card-link {
                  float: left;
                  margin: 0 20px;
                  font-size: 14px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian .icon-card-link .icon-video {
                    display: block;
                    width: 40px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -177px -43px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian .icon-card-link .icon-topic {
                    display: block;
                    width: 38px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -195px 0; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian .icon-card-link .icon-report {
                    display: block;
                    width: 41px;
                    height: 41px;
                    background: url(../image/index-img/ico_index.png) no-repeat -219px -42px; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel {
                margin-left: 550px;
                padding: 26px 15px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel .icon-card-link {
                  float: left;
                  margin: 0 20px;
                  font-size: 14px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel .icon-card-link .icon-brand {
                    display: block;
                    width: 40px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -89px -49px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel .icon-card-link .icon-tase {
                    display: block;
                    width: 41px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -152px 0; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel .icon-card-link .icon-sel {
                    display: block;
                    width: 44px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -130px -46px; }
        .header .nav-content .position-content .nav .nav-item:hover {
          border-bottom: 3px solid #d92a4b; }
        .header .nav-content .position-content .nav .cur {
          border-bottom: 3px solid #d92a4b; }
          .header .nav-content .position-content .nav .cur a {
            color: #d92a4b; }

/*公共尾部*/
.footer {
  width: 100%; }
  .footer .footer-link {
    width: 1120px;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #eeeeee; }
    .footer .footer-link .link-list {
      float: left;
      margin-right: 90px; }
      .footer .footer-link .link-list .link-title {
        width: 58px;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 5px;
        padding-bottom: 5px; }
        .footer .footer-link .link-list .link-title a {
          font-size: 14px;
          color: #333333; }
      .footer .footer-link .link-list .link-item a {
        font-size: 14px;
        color: #999999;
        line-height: 30px; }
    .footer .footer-link .fw {
      float: right; }
      .footer .footer-link .fw h2 {
        font-size: 28px;
        margin: 15px 0; }
      .footer .footer-link .fw span {
        font-size: 14px;
        color: #333333; }
  .footer .e-mail {
    width: 1120px;
    height: 102px;
    margin: 0 auto;
    padding: 36px 10px; }
    .footer .e-mail p {
      font-size: 14px;
      color: #666666;
      line-height: 24px; }
      .footer .e-mail p .icon-mail {
        color: #d92a4b;
        font-size: 24px;
        margin-right: 5px; }
    .footer .e-mail .emailsubs {
      width: 450px; }
      .footer .e-mail .emailsubs input {
        width: 220px;
        height: 56px;
        line-height: 56px;
        margin-top: 20px;
        padding-left: 15px;
        border: 1px solid #eeeeee;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 3px 0 0 3px;
        outline: 0; }
      .footer .e-mail .emailsubs button {
        width: 90px;
        height: 60px;
        line-height: 56px;
        color: #ffffff;
        border-radius: 0 3px 3px 0;
        background: #d92a4b;
        border: none;
        outline: 0;
        margin-left: -5px;
        margin-top: 20px; }
  .footer .foot-content {
    width: 100%;
    background: #000000; }
    .footer .foot-content .foot {
      width: 1120px;
      margin: 0 auto;
      color: #999999;
      padding: 30px 0 30px;
      text-align: center;
      line-height: 24px; }
      .footer .foot-content .foot .foot-link {
        margin-bottom: 6px; }
        .footer .foot-content .foot .foot-link a {
          margin: 0 4px;
          color: #999999;
          font-size: 14px; }
      .footer .foot-content .foot p {
        color: #999999;
        font-size: 14px;
        margin-bottom: 6px; }
      .footer .foot-content .foot .gov-icon {
        margin-top: 20px; }
        .footer .foot-content .foot .gov-icon a {
          display: inline-block;
          width: 100px;
          height: 40px;
          border: 1px solid #999999;
          border-radius: 5px;
          margin: 0 5px;
          background: url(../image/index-img/ico-safe.png); }
        .footer .foot-content .foot .gov-icon .szwj {
          background-position: 0 -120px; }
        .footer .foot-content .foot .gov-icon .baxx {
          background-position: 0 -80px; }
        .footer .foot-content .foot .gov-icon .wljc {
          background-position: 0 0; }
        .footer .foot-content .foot .gov-icon .gswj {
          background-position: 0 -40px; }

.float-tag {
  position: fixed;
  right: 0;
  bottom: 10px;
  z-index: 1000; }
  .float-tag ul {
    border: 1px solid #eeeeee;
    margin-bottom: 20px; }
    .float-tag ul li {
      background: #ffffff;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: relative;
      z-index: 1024; }
      .float-tag ul li i {
        color: #333333;
        font-size: 25px; }
      .float-tag ul li span {
        position: absolute;
        top: -3px;
        right: 50px;
        width: 80px;
        line-height: 20px;
        color: #d92a4b;
        background: #ffffff;
        padding: 10px;
        border: 1px solid #e2e2e2;
        box-shadow: 0 0 5px #dddddd;
        display: none; }
      .float-tag ul li .span-img {
        width: 89px;
        top: -28px;
        height: 88px; }
    .float-tag ul .first {
      height: 100px; }

#body {
  width: 100%; }
  #body .bread-crumbs {
    width: 1120px;
    margin: 10px auto;
    font-size: 14px;
    color: #666666;
    height: 40px;
    line-height: 40px; }
    #body .bread-crumbs a {
      color: #666666; }
    #body .bread-crumbs .now {
      color: #999999; }
  #body .pro-content {
    width: 1120px;
    margin: 0 auto; }
    #body .pro-content .pro-album {
      width: 600px;
      float: left;
      margin-bottom: 26px; }
      #body .pro-content .pro-album .pro-album-thumb {
        width: 72px;
        height: 510px;
        float: left;
        position: relative; }
        #body .pro-content .pro-album .pro-album-thumb .prev, #body .pro-content .pro-album .pro-album-thumb .next {
          width: 72px;
          height: 20px;
          line-height: 20px;
          position: relative; }
          #body .pro-content .pro-album .pro-album-thumb .prev .previcon, #body .pro-content .pro-album .pro-album-thumb .next .previcon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            width: 15px;
            height: 10px;
            background: url(../image/detail-img/main-sprite.png) -186px 0; }
          #body .pro-content .pro-album .pro-album-thumb .prev .nexticon, #body .pro-content .pro-album .pro-album-thumb .next .nexticon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            width: 15px;
            height: 10px;
            background: url(../image/detail-img/main-sprite.png) -168px 0; }
        #body .pro-content .pro-album .pro-album-thumb .thumb-con {
          width: 72px;
          height: 478px;
          overflow: hidden; }
          #body .pro-content .pro-album .pro-album-thumb .thumb-con .thumb-list li {
            display: block;
            width: 70px;
            height: 70px;
            border: 1px solid #eeeeee;
            margin-bottom: 4px; }
            #body .pro-content .pro-album .pro-album-thumb .thumb-con .thumb-list li img {
              width: 70px;
              height: 70px; }
          #body .pro-content .pro-album .pro-album-thumb .thumb-con .thumb-list .act {
            border: 1px solid #d92a4b; }
      #body .pro-content .pro-album .pro-album-preview {
        width: 510px;
        height: 510px;
        position: relative;
        float: right; }
        #body .pro-content .pro-album .pro-album-preview img {
          width: 510px;
          height: 510px;
          position: absolute; }
        #body .pro-content .pro-album .pro-album-preview .active {
          z-index: 1; }
    #body .pro-content .pro-info {
      margin-left: 626px;
      color: #666666; }
      #body .pro-content .pro-info .pro-title {
        margin-bottom: 15px; }
        #body .pro-content .pro-info .pro-title h2 {
          font-size: 24px;
          color: #333333;
          font-weight: 900;
          margin-bottom: 4px; }
        #body .pro-content .pro-info .pro-title p {
          color: #999999;
          font-size: 14px;
          line-height: 26px; }
      #body .pro-content .pro-info .product-con {
        border-bottom: 1px solid #eeeeee;
        border-top: 1px solid #eeeeee;
        padding: 15px 0;
        line-height: 30px; }
        #body .pro-content .pro-info .product-con .dt-text {
          width: 60px;
          display: block;
          float: left; }
        #body .pro-content .pro-info .product-con .price {
          padding-right: 20px;
          color: #d92a4b;
          float: left; }
          #body .pro-content .pro-info .product-con .price .action-price {
            font-size: 30px;
            height: 42px; }
        #body .pro-content .pro-info .product-con .dt-postage {
          border: 1px solid #999999;
          border-radius: 2px;
          padding: 1px 6px; }
        #body .pro-content .pro-info .product-con .member-price {
          margin-top: 10px;
          margin-left: 62px;
          color: #999;
          font-size: 14px; }
          #body .pro-content .pro-info .product-con .member-price a {
            color: #333333;
            font-size: 14px; }
          #body .pro-content .pro-info .product-con .member-price .shuxian {
            color: #f5f5f5;
            padding: 1px 6px; }
          #body .pro-content .pro-info .product-con .member-price .icon-huiyuan {
            color: #d92a4b; }
      #body .pro-content .pro-info .product-buy {
        margin-top: 16px; }
        #body .pro-content .pro-info .product-buy .product-buy-top .pro-num {
          float: left;
          width: 62px;
          height: 32px;
          line-height: 32px; }
        #body .pro-content .pro-info .product-buy .product-buy-top .item-content {
          width: 74px;
          overflow: hidden;
          vertical-align: middle; }
          #body .pro-content .pro-info .product-buy .product-buy-top .item-content .buy-num {
            width: 38px;
            height: 20px;
            line-height: 20px;
            border: 1px solid #a7a6ab;
            padding: 5px 2px;
            margin-right: 4px;
            text-align: center;
            font-size: 14px;
            vertical-align: top; }
          #body .pro-content .pro-info .product-buy .product-buy-top .item-content .btn-increase {
            display: inline-block;
            width: 18px;
            height: 14px;
            overflow: hidden;
            vertical-align: top;
            background: url(../image/detail-img/main-sprite.png) -125px 0; }
          #body .pro-content .pro-info .product-buy .product-buy-top .item-content .btn-decrease {
            display: inline-block;
            width: 18px;
            height: 14px;
            overflow: hidden;
            margin-left: -23px;
            vertical-align: bottom;
            background: url(../image/detail-img/main-sprite.png) -148px 0; }
        #body .pro-content .pro-info .product-buy .product-buy-bottom {
          margin: 20px 0 15px 0; }
          #body .pro-content .pro-info .product-buy .product-buy-bottom .btn-buy-now {
            padding: 0 45px;
            border: 1px solid #d92a4b;
            color: #d92a4b;
            background: #ffffff;
            line-height: 56px;
            border-radius: 4px;
            font-size: 20px;
            margin-right: 15px; }
          #body .pro-content .pro-info .product-buy .product-buy-bottom .btn-add-cart {
            padding: 0 45px;
            border: 1px solid #d92a4b;
            color: #ffffff;
            background: #d92a4b;
            line-height: 56px;
            border-radius: 4px;
            font-size: 20px; }
          #body .pro-content .pro-info .product-buy .product-buy-bottom .btn-phone-buy {
            margin-right: 0;
            padding: 3px 5px;
            color: #333333;
            background: #ffffff;
            line-height: 50px;
            font-size: 12px;
            outline: none;
            border: 0; }
      #body .pro-content .pro-info .product-addition .peoduct-favor {
        font-size: 14px;
        color: #666666; }
        #body .pro-content .pro-info .product-addition .peoduct-favor .icon-shoucang {
          font-size: 18px;
          font-weight: 900;
          color: #c6b18e; }
  #body .detail-nav {
    width: 100%;
    margin-top: 50px;
    height: 54px;
    line-height: 52px;
    border-bottom: 1px solid #eee;
    background: #ffffff;
    text-align: center; }
    #body .detail-nav .nav-list {
      width: 630px;
      margin: 0 auto;
      font-size: 18px; }
      #body .detail-nav .nav-list .list-item {
        float: left;
        width: 150px;
        margin: 0 30px; }
        #body .detail-nav .nav-list .list-item a {
          color: #333333; }
      #body .detail-nav .nav-list .cur {
        color: #d92a4b;
        border-bottom: 3px solid #d92a4b; }
  #body .dt-par {
    width: 1120px;
    margin: 40px auto 20px;
    overflow: hidden; }
    #body .dt-par h2 {
      width: 260px;
      text-align: center;
      float: left;
      font-size: 30px;
      color: #333333; }
    #body .dt-par .dt-par-detail {
      width: 800px;
      float: left;
      line-height: 30px;
      margin-left: 55px; }
      #body .dt-par .dt-par-detail dl {
        float: left;
        font-size: 14px; }
        #body .dt-par .dt-par-detail dl dt {
          float: left;
          color: #999; }
        #body .dt-par .dt-par-detail dl dd {
          float: left;
          color: #333; }
  #body .product-detail {
    width: 100%;
    overflow: hidden;
    position: relative; }
    #body .product-detail .detail-img {
      width: 1920px;
      left: 50%;
      position: relative;
      margin-left: -960px; }
      #body .product-detail .detail-img img {
        display: block;
        width: 1920px;
        height: auto; }
  #body .product-problem {
    padding: 50px 70px;
    width: 980px;
    margin: 0 auto; }
    #body .product-problem h2 {
      font-size: 30px;
      color: #333; }
    #body .product-problem .p-fix {
      line-height: 36px;
      color: #333;
      font-size: 16px;
      margin-top: 10px; }
    #body .product-problem span {
      font-size: 14px; }

/*# sourceMappingURL=detail.css.map */
