@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: 100; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100; }

img {
  border: 0;
  display: block; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: block; }

/*公共头部*/
.header {
  width: 100%; }
  .header .top-content {
    width: 100%;
    font-size: 12px;
    color: #666;
    background: #F4F4F4;
    border-bottom: 2px solid #F4F4F4; }
    .header .top-content .top {
      width: 1120px;
      margin: 0px auto; }
      .header .top-content .top .login-0 {
        width: 1120px;
        height: 24px;
        background: #F4F4F4;
        padding-top: 12px;
        display: block; }
        .header .top-content .top .login-0 .title {
          width: 100px;
          float: left; }
        .header .top-content .top .login-0 .main-unlogin {
          float: right; }
          .header .top-content .top .login-0 .main-unlogin a {
            padding: 0 8px;
            float: right;
            font-size: 13px; }
            .header .top-content .top .login-0 .main-unlogin a .icon-weibo {
              color: #d92a4b;
              font-size: 14px; }
            .header .top-content .top .login-0 .main-unlogin a .icon-weixin {
              color: #6bb305;
              font-size: 20px;
              line-height: 17px; }
          .header .top-content .top .login-0 .main-unlogin .card, .header .top-content .top .login-0 .main-unlogin .weibo {
            border-right: 1px solid #dddddd; }
        .header .top-content .top .login-0 .cart-unlogin {
          float: right;
          font-size: 13px; }
          .header .top-content .top .login-0 .cart-unlogin .cart-txt {
            line-height: 17px;
            margin: 0 3px; }
            .header .top-content .top .login-0 .cart-unlogin .cart-txt .icon-shop {
              margin: 0 3px; }
            .header .top-content .top .login-0 .cart-unlogin .cart-txt b {
              font-weight: 900;
              color: #d92a4b; }
        .header .top-content .top .login-0 .register {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          border-left: 1px solid #dddddd;
          margin-right: 20px;
          color: #333333; }
        .header .top-content .top .login-0 .login {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          color: #333333; }
      .header .top-content .top .logined {
        width: 1120px;
        height: 24px;
        background: #F4F4F4;
        padding-top: 12px;
        display: none; }
        .header .top-content .top .logined .title {
          width: 100px;
          float: left; }
        .header .top-content .top .logined .main-logined {
          float: right; }
          .header .top-content .top .logined .main-logined a {
            padding: 0 8px;
            float: right;
            font-size: 13px; }
          .header .top-content .top .logined .main-logined .vip, .header .top-content .top .logined .main-logined .card, .header .top-content .top .logined .main-logined .myorder {
            border-left: 1px solid #dddddd; }
        .header .top-content .top .logined .sigout {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          color: #333333; }
        .header .top-content .top .logined .wel {
          float: right;
          font-size: 13px;
          padding: 0 2px;
          color: #333333; }
        .header .top-content .top .logined .user {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          color: #333333; }
  .header .logo-content {
    width: 100%;
    background: #ffffff;
    height: 115px; }
    .header .logo-content .logo {
      width: 1120px;
      height: 90px;
      padding-top: 25px;
      margin: 0 auto; }
      .header .logo-content .logo .logopic {
        float: left;
        width: 328px; }
        .header .logo-content .logo .logopic img {
          width: 328px; }
    .header .logo-content .search {
      float: right;
      margin-top: 21px;
      width: 294px;
      height: 45px;
      border: 1px solid #e2e2e2;
      border-radius: 50px;
      position: relative; }
      .header .logo-content .search .search-txt {
        position: absolute;
        top: 1px;
        left: 20px;
        border: none;
        padding: 11px 0;
        width: 230px;
        height: 20px;
        outline: none; }
      .header .logo-content .search .submit {
        position: absolute;
        top: 0;
        left: 250px;
        line-height: 40px;
        font-size: 30px; }
  .header .nav-content {
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #333333;
    background: #ffffff;
    position: relative; }
    .header .nav-content .position-content {
      height: 44px;
      background: #ffffff;
      border-bottom: 2px solid #333333;
      z-index: 20; }
      .header .nav-content .position-content .nav {
        width: 1130px;
        margin: 0 auto;
        background: #ffffff; }
        .header .nav-content .position-content .nav .nav-item {
          float: left;
          text-align: center;
          margin: 0 15px; }
          .header .nav-content .position-content .nav .nav-item a {
            display: block;
            line-height: 41px;
            font-size: 16px;
            padding: 0 15px;
            color: #333333; }
          .header .nav-content .position-content .nav .nav-item .nav-down {
            width: 100%;
            position: absolute;
            left: 0;
            top: 46px;
            z-index: -5;
            height: 0;
            overflow: hidden;
            background: #ffffff;
            box-shadow: 0 0 8px #dddddd; }
            .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp {
              width: 1120px;
              height: 164px;
              margin: 0 auto;
              padding: 0 15px;
              background: #ffffff; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state {
                float: left;
                width: 380px;
                padding: 26px 15px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state h3 {
                  font-size: 16px;
                  color: #333333;
                  margin-bottom: 15px;
                  text-align: left;
                  border-bottom: 1px solid #dddddd; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state .icon-word {
                  margin: 5px 0 0 5px;
                  float: left;
                  width: 44px;
                  height: 44px;
                  background: url(../image/index-img/ico_index.png) no-repeat -106px 0; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state p {
                  float: left;
                  width: 326px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state p .country {
                    display: block;
                    line-height: 28px;
                    float: left;
                    font-size: 14px;
                    padding: 0 9px; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type {
                float: left;
                width: 550px;
                padding: 26px 15px;
                margin-left: 126px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type h3 {
                  font-size: 16px;
                  color: #333333;
                  margin-bottom: 15px;
                  text-align: left;
                  border-bottom: 1px solid #dddddd; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type .type-list .type-item {
                  float: left;
                  margin-right: 42px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type .type-list .type-item span {
                    float: left;
                    width: 26px;
                    height: 47px;
                    background: url(../image/index-img/ico_index.png) no-repeat 0 0;
                    margin-right: 5px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-type .type-list .type-item a {
                    float: left;
                    font-size: 14px;
                    color: #666666;
                    padding: 0;
                    line-height: 70px; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu {
                margin-left: 130px;
                padding: 26px 15px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu .icon-card-link {
                  float: left;
                  margin: 0 20px;
                  font-size: 14px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu .icon-card-link .icon-card {
                    display: block;
                    width: 44px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -234px 0; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu .icon-card-link .icon-wineset {
                    display: block;
                    width: 44px;
                    height: 44px;
                    background: url(../image/index-img/ico_index.png) no-repeat -43px -50px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-haowu .icon-card-link .icon-cooker {
                    display: block;
                    width: 41px;
                    height: 41px;
                    background: url(../image/index-img/ico_index.png) no-repeat 0 -50px; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian {
                margin-left: 225px;
                padding: 26px 15px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian .icon-card-link {
                  float: left;
                  margin: 0 20px;
                  font-size: 14px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian .icon-card-link .icon-video {
                    display: block;
                    width: 40px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -177px -43px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian .icon-card-link .icon-topic {
                    display: block;
                    width: 38px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -195px 0; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-faxian .icon-card-link .icon-report {
                    display: block;
                    width: 41px;
                    height: 41px;
                    background: url(../image/index-img/ico_index.png) no-repeat -219px -42px; }
              .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel {
                margin-left: 550px;
                padding: 26px 15px; }
                .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel .icon-card-link {
                  float: left;
                  margin: 0 20px;
                  font-size: 14px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel .icon-card-link .icon-brand {
                    display: block;
                    width: 40px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -89px -49px; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel .icon-card-link .icon-tase {
                    display: block;
                    width: 41px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -152px 0; }
                  .header .nav-content .position-content .nav .nav-item .nav-down .wine-warp .wine-state-mossel .icon-card-link .icon-sel {
                    display: block;
                    width: 44px;
                    height: 40px;
                    background: url(../image/index-img/ico_index.png) no-repeat -130px -46px; }
        .header .nav-content .position-content .nav .nav-item:hover {
          border-bottom: 3px solid #d92a4b; }
        .header .nav-content .position-content .nav .cur {
          border-bottom: 3px solid #d92a4b; }
          .header .nav-content .position-content .nav .cur a {
            color: #d92a4b; }

/*公共尾部*/
.footer {
  width: 100%; }
  .footer .footer-link {
    width: 1120px;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #eeeeee; }
    .footer .footer-link .link-list {
      float: left;
      margin-right: 90px; }
      .footer .footer-link .link-list .link-title {
        width: 58px;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 5px;
        padding-bottom: 5px; }
        .footer .footer-link .link-list .link-title a {
          font-size: 14px;
          color: #333333; }
      .footer .footer-link .link-list .link-item a {
        font-size: 14px;
        color: #999999;
        line-height: 30px; }
    .footer .footer-link .fw {
      float: right; }
      .footer .footer-link .fw h2 {
        font-size: 28px;
        margin: 15px 0; }
      .footer .footer-link .fw span {
        font-size: 14px;
        color: #333333; }
  .footer .e-mail {
    width: 1120px;
    height: 102px;
    margin: 0 auto;
    padding: 36px 10px; }
    .footer .e-mail p {
      font-size: 14px;
      color: #666666;
      line-height: 24px; }
      .footer .e-mail p .icon-mail {
        color: #d92a4b;
        font-size: 24px;
        margin-right: 5px; }
    .footer .e-mail .emailsubs {
      width: 450px; }
      .footer .e-mail .emailsubs input {
        width: 220px;
        height: 56px;
        line-height: 56px;
        margin-top: 20px;
        padding-left: 15px;
        border: 1px solid #eeeeee;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 3px 0 0 3px;
        outline: 0; }
      .footer .e-mail .emailsubs button {
        width: 90px;
        height: 60px;
        line-height: 56px;
        color: #ffffff;
        border-radius: 0 3px 3px 0;
        background: #d92a4b;
        border: none;
        outline: 0;
        margin-left: -5px;
        margin-top: 20px; }
  .footer .foot-content {
    width: 100%;
    background: #000000; }
    .footer .foot-content .foot {
      width: 1120px;
      margin: 0 auto;
      color: #999999;
      padding: 30px 0 30px;
      text-align: center;
      line-height: 24px; }
      .footer .foot-content .foot .foot-link {
        margin-bottom: 6px; }
        .footer .foot-content .foot .foot-link a {
          margin: 0 4px;
          color: #999999;
          font-size: 14px; }
      .footer .foot-content .foot p {
        color: #999999;
        font-size: 14px;
        margin-bottom: 6px; }
      .footer .foot-content .foot .gov-icon {
        margin-top: 20px; }
        .footer .foot-content .foot .gov-icon a {
          display: inline-block;
          width: 100px;
          height: 40px;
          border: 1px solid #999999;
          border-radius: 5px;
          margin: 0 5px;
          background: url(../image/index-img/ico-safe.png); }
        .footer .foot-content .foot .gov-icon .szwj {
          background-position: 0 -120px; }
        .footer .foot-content .foot .gov-icon .baxx {
          background-position: 0 -80px; }
        .footer .foot-content .foot .gov-icon .wljc {
          background-position: 0 0; }
        .footer .foot-content .foot .gov-icon .gswj {
          background-position: 0 -40px; }

.float-tag {
  position: fixed;
  right: 0;
  bottom: 10px;
  z-index: 1000; }
  .float-tag ul {
    border: 1px solid #eeeeee;
    margin-bottom: 20px; }
    .float-tag ul li {
      background: #ffffff;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: relative;
      z-index: 1024; }
      .float-tag ul li i {
        color: #333333;
        font-size: 25px; }
      .float-tag ul li span {
        position: absolute;
        top: -3px;
        right: 50px;
        width: 80px;
        line-height: 20px;
        color: #d92a4b;
        background: #ffffff;
        padding: 10px;
        border: 1px solid #e2e2e2;
        box-shadow: 0 0 5px #dddddd;
        display: none; }
      .float-tag ul li .span-img {
        width: 89px;
        top: -28px;
        height: 88px; }
    .float-tag ul .first {
      height: 100px; }

#body {
  width: 100%; }
  #body .banner-content {
    width: 100%;
    height: 450px;
    overflow: hidden; }
    #body .banner-content .banner {
      width: 1120px;
      height: 450px;
      margin: 0 auto;
      position: relative; }
      #body .banner-content .banner .banner-list {
        float: left;
        position: absolute;
        top: 0;
        left: -400px;
        z-index: -10; }
        #body .banner-content .banner .banner-list .banner-item {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: -10; }
        #body .banner-content .banner .banner-list .star {
          opacity: 1; }
      #body .banner-content .banner .small-banner {
        position: absolute;
        bottom: 0;
        left: -400px;
        width: 1920px;
        height: 80px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 30;
        visibility: visible;
        opacity: 0; }
        #body .banner-content .banner .small-banner .small-banner-list {
          height: 80px;
          margin: 0 auto;
          text-align: center;
          z-index: 30; }
          #body .banner-content .banner .small-banner .small-banner-list .small-banner-item {
            display: inline-block;
            width: 153px;
            height: 66px;
            position: relative;
            margin: 7px 3px;
            overflow: hidden;
            opacity: 0.5; }
            #body .banner-content .banner .small-banner .small-banner-list .small-banner-item img {
              width: 153px;
              height: 66px; }
          #body .banner-content .banner .small-banner .small-banner-list .star {
            opacity: 1; }
  #body .title-content {
    width: 100%;
    height: 78px; }
    #body .title-content .title {
      margin: 0 auto;
      width: 1120px; }
      #body .title-content .title .title-list {
        width: 1120px;
        height: 56px;
        padding-top: 22px; }
        #body .title-content .title .title-list .title-item {
          float: left;
          width: 33%;
          line-height: 56px;
          text-align: center; }
          #body .title-content .title .title-list .title-item .title-txt, #body .title-content .title .title-list .title-item .icon {
            float: left; }
          #body .title-content .title .title-list .title-item .icon {
            width: 56px;
            height: 56px;
            margin: 0 4px 0 110px; }
  #body .hot-content {
    width: 100%;
    position: relative; }
    #body .hot-content .left-btn {
      position: absolute;
      top: 204px;
      left: 20px;
      z-index: 10; }
      #body .hot-content .left-btn .icon-jiantouzuo {
        font-size: 40px;
        color: #e5cda7; }
    #body .hot-content .right-btn {
      position: absolute;
      top: 204px;
      right: 20px;
      z-index: 10; }
      #body .hot-content .right-btn .icon-jiantouyou {
        font-size: 40px;
        color: #e5cda7; }
    #body .hot-content .hot {
      width: 1120px;
      height: 464px;
      margin: 0 auto;
      overflow: hidden;
      position: relative; }
      #body .hot-content .hot h2 {
        height: 40px;
        line-height: 40px;
        padding: 20px 0 15px 0;
        font-size: 24px;
        color: #333333; }
        #body .hot-content .hot h2 span {
          color: #999999;
          font-size: 16px;
          margin-left: 10px; }
      #body .hot-content .hot .hot-list {
        width: 10000px;
        position: absolute; }
        #body .hot-content .hot .hot-list .hot-item {
          float: left;
          width: 265px;
          height: 389px;
          text-align: center;
          padding: 0 20px 20px 0; }
          #body .hot-content .hot .hot-list .hot-item .hot-pro {
            width: 265px;
            height: 265px;
            overflow: hidden; }
            #body .hot-content .hot .hot-list .hot-item .hot-pro img {
              width: 265px;
              height: 265px; }
          #body .hot-content .hot .hot-list .hot-item .hot-pro-info {
            width: 265px;
            height: 97px; }
            #body .hot-content .hot .hot-list .hot-item .hot-pro-info .hot-pro-name {
              margin: 10px 0 5px;
              font-size: 15px; }
              #body .hot-content .hot .hot-list .hot-item .hot-pro-info .hot-pro-name a {
                display: block;
                color: #333333;
                padding: 0 10px;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
            #body .hot-content .hot .hot-list .hot-item .hot-pro-info .hot-pro-instro {
              font-size: 14px;
              color: #999999;
              display: block;
              padding: 0 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            #body .hot-content .hot .hot-list .hot-item .hot-pro-info .hot-pro-price {
              margin: 0 auto;
              margin-top: 20px;
              height: 42px;
              line-height: 42px;
              width: 160px;
              color: #d92a4b;
              border-top: 1px solid #999999; }
  #body .wine-content {
    width: 100%;
    background: #f4f4f4; }
    #body .wine-content .wine {
      width: 1120px;
      margin: 0 auto;
      overflow: hidden; }
      #body .wine-content .wine h2 {
        float: left;
        width: 400px;
        height: 40px;
        line-height: 40px;
        padding: 20px 0 15px 0;
        font-size: 24px;
        color: #333333; }
        #body .wine-content .wine h2 span {
          color: #999999;
          font-size: 16px;
          margin-left: 10px; }
      #body .wine-content .wine .wine-classify-list {
        float: right;
        height: 30px;
        line-height: 40px;
        margin: 35px 0 10px; }
        #body .wine-content .wine .wine-classify-list .wine-classify {
          float: left;
          padding-bottom: 8px;
          margin: 0 0 0 15px;
          padding: 0 0 5px;
          font-size: 14px;
          line-height: 18px; }
        #body .wine-content .wine .wine-classify-list .wine-cur {
          color: #d92a4b;
          border-bottom: 2px solid #d92a4b; }
      #body .wine-content .wine .wine-list-content {
        width: 100%;
        overflow: hidden; }
        #body .wine-content .wine .wine-list-content .wine-list {
          width: 1140px;
          overflow: hidden; }
          #body .wine-content .wine .wine-list-content .wine-list .wine-item {
            float: left;
            width: 265px;
            height: 389px;
            text-align: center;
            margin: 0 20px 20px 0;
            background: #ffffff; }
            #body .wine-content .wine .wine-list-content .wine-list .wine-item .wine-pro {
              width: 265px;
              height: 265px;
              overflow: hidden; }
              #body .wine-content .wine .wine-list-content .wine-list .wine-item .wine-pro img {
                width: 265px;
                height: 265px; }
            #body .wine-content .wine .wine-list-content .wine-list .wine-item .wine-pro-info {
              width: 265px;
              height: 97px; }
              #body .wine-content .wine .wine-list-content .wine-list .wine-item .wine-pro-info .wine-pro-name {
                margin: 10px 0 5px;
                font-size: 15px; }
                #body .wine-content .wine .wine-list-content .wine-list .wine-item .wine-pro-info .wine-pro-name a {
                  display: block;
                  color: #333333;
                  padding: 0 10px;
                  line-height: 24px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap; }
              #body .wine-content .wine .wine-list-content .wine-list .wine-item .wine-pro-info .wine-pro-instro {
                font-size: 14px;
                color: #999999;
                display: block;
                padding: 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              #body .wine-content .wine .wine-list-content .wine-list .wine-item .wine-pro-info .wine-pro-price {
                margin: 0 auto;
                margin-top: 20px;
                height: 42px;
                line-height: 42px;
                width: 160px;
                color: #d92a4b;
                border-top: 1px solid #999999; }
      #body .wine-content .wine .block {
        display: block; }
      #body .wine-content .wine .none {
        display: none; }
      #body .wine-content .wine .more {
        width: 138px;
        height: 50px;
        border: 1px solid #999999;
        margin: 30px auto;
        background: #ffffff; }
        #body .wine-content .wine .more .more-btn {
          display: block;
          width: 138px;
          height: 50px;
          border: 1px solid #999999;
          background: #ffffff;
          color: #333333;
          margin: -5px;
          text-align: center;
          line-height: 50px;
          font-size: 14px; }
  #body .goods-content {
    width: 100%;
    background: #f4f4f4; }
    #body .goods-content .goods {
      margin: 0 auto;
      width: 1120px;
      overflow: hidden; }
      #body .goods-content .goods h2 {
        height: 40px;
        line-height: 40px;
        padding: 20px 0 15px 0;
        font-size: 24px;
        color: #333333; }
        #body .goods-content .goods h2 span {
          color: #999999;
          font-size: 16px;
          margin-left: 10px; }
      #body .goods-content .goods .goods-list {
        width: 1140px;
        overflow: hidden; }
        #body .goods-content .goods .goods-list .goods-item {
          float: left;
          width: 265px;
          height: 389px;
          text-align: center;
          margin: 0 20px 20px 0;
          background: #ffffff; }
          #body .goods-content .goods .goods-list .goods-item .goods-pro {
            width: 265px;
            height: 265px;
            overflow: hidden; }
            #body .goods-content .goods .goods-list .goods-item .goods-pro img {
              width: 265px;
              height: 265px; }
          #body .goods-content .goods .goods-list .goods-item .goods-pro-info {
            width: 265px;
            height: 97px; }
            #body .goods-content .goods .goods-list .goods-item .goods-pro-info .goods-pro-name {
              margin: 10px 0 5px;
              font-size: 15px; }
              #body .goods-content .goods .goods-list .goods-item .goods-pro-info .goods-pro-name a {
                display: block;
                color: #333333;
                padding: 0 10px;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
            #body .goods-content .goods .goods-list .goods-item .goods-pro-info .goods-pro-instro {
              font-size: 14px;
              color: #999999;
              display: block;
              padding: 0 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            #body .goods-content .goods .goods-list .goods-item .goods-pro-info .goods-pro-price {
              margin: 0 auto;
              margin-top: 20px;
              height: 42px;
              line-height: 42px;
              width: 160px;
              color: #d92a4b;
              border-top: 1px solid #999999; }
      #body .goods-content .goods .more {
        width: 138px;
        height: 50px;
        border: 1px solid #999999;
        margin: 30px auto;
        background: #ffffff; }
        #body .goods-content .goods .more .more-btn {
          display: block;
          width: 138px;
          height: 50px;
          border: 1px solid #999999;
          background: #ffffff;
          color: #333333;
          margin: -5px;
          text-align: center;
          line-height: 50px;
          font-size: 14px; }
  #body .topic-content {
    width: 100%;
    background: #f4f4f4; }
    #body .topic-content .topic {
      margin: 0 auto;
      width: 1120px;
      overflow: hidden; }
      #body .topic-content .topic h2 {
        height: 40px;
        line-height: 40px;
        padding: 20px 0 15px 0;
        font-size: 24px;
        color: #333333; }
        #body .topic-content .topic h2 span {
          color: #999999;
          font-size: 16px;
          margin-left: 10px; }
      #body .topic-content .topic .topic-list {
        width: 1140px;
        overflow: hidden; }
        #body .topic-content .topic .topic-list .topic-item {
          float: left;
          width: 360px;
          height: 300px;
          margin: 0 20px 20px 0; }
  #body .taste-content {
    width: 100%;
    background: #f4f4f4; }
    #body .taste-content .taste {
      width: 1120px;
      margin: 0 auto;
      overflow: hidden; }
      #body .taste-content .taste h2 {
        height: 40px;
        line-height: 40px;
        padding: 20px 0 15px 0;
        font-size: 24px;
        color: #333333; }
        #body .taste-content .taste h2 span {
          color: #999999;
          font-size: 16px;
          margin-left: 10px; }
      #body .taste-content .taste .taste-list {
        width: 1140px;
        overflow: hidden; }
        #body .taste-content .taste .taste-list .taste-item {
          float: left;
          margin: 0 20px 20px 0;
          width: 265px;
          background: #ffffff; }
          #body .taste-content .taste .taste-list .taste-item img {
            width: 265px;
            height: 265px; }
          #body .taste-content .taste .taste-list .taste-item .taste-pro-info {
            padding: 0 15px 15px; }
            #body .taste-content .taste .taste-list .taste-item .taste-pro-info a {
              font-size: 20px;
              color: #333333;
              display: block;
              line-height: 40px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            #body .taste-content .taste .taste-list .taste-item .taste-pro-info .taste-pro-instro {
              font-size: 14px;
              height: 42px;
              line-height: 20px;
              color: #999999;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            #body .taste-content .taste .taste-list .taste-item .taste-pro-info .taste-pro-price {
              margin-top: 20px;
              overflow: hidden; }
              #body .taste-content .taste .taste-list .taste-item .taste-pro-info .taste-pro-price img {
                float: left;
                width: 34px;
                height: 34px;
                border-radius: 50%; }
              #body .taste-content .taste .taste-list .taste-item .taste-pro-info .taste-pro-price span {
                font-size: 14px;
                color: #666666;
                margin: 6px 0 0 44px;
                display: block;
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
        #body .taste-content .taste .taste-list .large {
          width: 550px; }
          #body .taste-content .taste .taste-list .large img {
            width: 550px; }
      #body .taste-content .taste .more {
        width: 138px;
        height: 50px;
        border: 1px solid #999999;
        margin: 30px auto;
        background: #ffffff; }
        #body .taste-content .taste .more .more-btn {
          display: block;
          width: 138px;
          height: 50px;
          border: 1px solid #999999;
          background: #ffffff;
          color: #333333;
          margin: -5px;
          text-align: center;
          line-height: 50px;
          font-size: 14px; }

/*# sourceMappingURL=index.css.map */
