@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: 100; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100; }

img {
  border: 0;
  display: block; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: block; }

/*公共头部*/
.header {
  width: 100%; }
  .header .top-content {
    width: 100%;
    font-size: 12px;
    color: #666;
    background: #F4F4F4;
    border-bottom: 2px solid #F4F4F4; }
    .header .top-content .top {
      width: 1120px;
      margin: 0px auto; }
      .header .top-content .top .login-0 {
        width: 1120px;
        height: 24px;
        background: #F4F4F4;
        padding-top: 12px; }
        .header .top-content .top .login-0 .title {
          width: 100px;
          float: left; }
        .header .top-content .top .login-0 .main-unlogin {
          float: right; }
          .header .top-content .top .login-0 .main-unlogin a {
            padding: 0 8px;
            float: right;
            font-size: 13px; }
            .header .top-content .top .login-0 .main-unlogin a .icon-weibo {
              color: #d92a4b;
              font-size: 14px; }
            .header .top-content .top .login-0 .main-unlogin a .icon-weixin {
              color: #6bb305;
              font-size: 20px;
              line-height: 17px; }
          .header .top-content .top .login-0 .main-unlogin .card, .header .top-content .top .login-0 .main-unlogin .weibo {
            border-right: 1px solid #dddddd; }
        .header .top-content .top .login-0 .cart-unlogin {
          float: right;
          font-size: 13px; }
          .header .top-content .top .login-0 .cart-unlogin .cart-txt {
            line-height: 17px;
            margin: 0 3px; }
            .header .top-content .top .login-0 .cart-unlogin .cart-txt .icon-shop {
              margin: 0 3px; }
            .header .top-content .top .login-0 .cart-unlogin .cart-txt b {
              font-weight: 900;
              color: #d92a4b; }
        .header .top-content .top .login-0 .register {
          float: right;
          font-size: 13px;
          padding: 0 8px;
          border-left: 1px solid #dddddd;
          margin-right: 20px; }
        .header .top-content .top .login-0 .login {
          float: right;
          font-size: 13px;
          padding: 0 8px; }
  .header .logo-content {
    width: 100%;
    background: #ffffff;
    height: 115px; }
    .header .logo-content .logo {
      width: 1120px;
      height: 90px;
      padding-top: 25px;
      margin: 0 auto; }
      .header .logo-content .logo .logopic {
        float: left;
        width: 328px; }
        .header .logo-content .logo .logopic img {
          width: 328px; }
    .header .logo-content .search {
      float: right;
      margin-top: 21px;
      width: 294px;
      height: 45px;
      border: 1px solid #e2e2e2;
      border-radius: 50px;
      position: relative; }
      .header .logo-content .search .search-txt {
        position: absolute;
        top: 1px;
        left: 20px;
        border: none;
        padding: 11px 0;
        width: 230px;
        height: 20px; }
      .header .logo-content .search .submit {
        position: absolute;
        top: 0;
        left: 250px;
        line-height: 40px;
        font-size: 30px; }
  .header .nav-content {
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #333333;
    position: relative;
    background: #ffffff; }
    .header .nav-content .nav {
      width: 1130px;
      margin: 0 auto; }
      .header .nav-content .nav .nav-item {
        float: left;
        text-align: center;
        margin: 0 15px; }
        .header .nav-content .nav .nav-item a {
          display: block;
          line-height: 43px;
          font-size: 16px;
          padding: 0 15px;
          color: #333333; }
      .header .nav-content .nav .nav-item:hover {
        border-bottom: 3px solid #d92a4b; }
      .header .nav-content .nav .cur {
        border-bottom: 3px solid #d92a4b; }
        .header .nav-content .nav .cur a {
          color: #d92a4b; }

/*公共尾部*/
#body {
  width: 100%; }
  #body .banner-content {
    width: 100%;
    height: 450px;
    overflow: hidden; }
    #body .banner-content .banner {
      width: 1120px;
      height: 450px;
      margin: 0 auto;
      position: relative; }
      #body .banner-content .banner .banner-list {
        float: left;
        position: absolute;
        top: 0;
        left: -400px; }
        #body .banner-content .banner .banner-list .banner-item {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
        #body .banner-content .banner .banner-list .star {
          opacity: 1; }
      #body .banner-content .banner .small-banner {
        position: absolute;
        bottom: 0;
        left: -400px;
        width: 1920px;
        height: 80px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 30;
        visibility: visible;
        opacity: 0; }
        #body .banner-content .banner .small-banner .small-banner-list {
          height: 80px;
          margin: 0 auto;
          text-align: center;
          z-index: 30; }
          #body .banner-content .banner .small-banner .small-banner-list .small-banner-item {
            display: inline-block;
            width: 153px;
            height: 66px;
            position: relative;
            margin: 7px 3px;
            overflow: hidden;
            opacity: 0.5; }
            #body .banner-content .banner .small-banner .small-banner-list .small-banner-item img {
              width: 153px;
              height: 66px; }
          #body .banner-content .banner .small-banner .small-banner-list .star {
            opacity: 1; }
  #body .title-content {
    width: 100%;
    height: 78px; }
    #body .title-content .title {
      margin: 0 auto;
      width: 1120px; }
      #body .title-content .title .title-list {
        width: 1120px;
        height: 56px;
        padding-top: 22px; }
        #body .title-content .title .title-list .title-item {
          float: left;
          width: 33%;
          line-height: 56px;
          text-align: center; }
          #body .title-content .title .title-list .title-item .title-txt, #body .title-content .title .title-list .title-item .icon {
            float: left; }
          #body .title-content .title .title-list .title-item .icon {
            width: 56px;
            height: 56px;
            margin: 0 4px 0 110px; }
  #body .hot-content {
    width: 100%;
    position: relative; }
    #body .hot-content .left-btn {
      position: absolute;
      top: 204px;
      left: 20px;
      z-index: 10; }
      #body .hot-content .left-btn .icon-jiantouzuo {
        font-size: 40px;
        color: #e5cda7; }
    #body .hot-content .right-btn {
      position: absolute;
      top: 204px;
      right: 20px;
      z-index: 10; }
      #body .hot-content .right-btn .icon-jiantouyou {
        font-size: 40px;
        color: #e5cda7; }
    #body .hot-content .hot {
      width: 1120px;
      height: 464px;
      margin: 0 auto;
      overflow: hidden;
      position: relative; }
      #body .hot-content .hot h2 {
        height: 40px;
        line-height: 40px;
        padding: 20px 0 15px 0;
        font-size: 24px;
        color: #333333; }
        #body .hot-content .hot h2 span {
          color: #999999;
          font-size: 16px;
          margin-left: 10px; }
      #body .hot-content .hot .hot-list {
        width: 10000px;
        position: absolute;
        left: 0; }
        #body .hot-content .hot .hot-list .hot-item {
          float: left;
          width: 265px;
          height: 389px;
          text-align: center;
          padding: 0 20px 20px 0; }
          #body .hot-content .hot .hot-list .hot-item .hot-pro {
            width: 265px;
            height: 265px;
            overflow: hidden; }
            #body .hot-content .hot .hot-list .hot-item .hot-pro img {
              width: 265px;
              height: 265px; }
          #body .hot-content .hot .hot-list .hot-item .hot-pro-info {
            width: 265px;
            height: 97px; }
            #body .hot-content .hot .hot-list .hot-item .hot-pro-info .hot-pro-name {
              margin: 10px 0 5px;
              font-size: 15px; }
              #body .hot-content .hot .hot-list .hot-item .hot-pro-info .hot-pro-name a {
                display: block;
                color: #333333;
                padding: 0 10px;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
            #body .hot-content .hot .hot-list .hot-item .hot-pro-info .hot-pro-instro {
              font-size: 14px;
              color: #999999;
              display: block;
              padding: 0 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            #body .hot-content .hot .hot-list .hot-item .hot-pro-info .hot-pro-price {
              margin: 0 auto;
              margin-top: 20px;
              height: 42px;
              line-height: 42px;
              width: 160px;
              color: #d92a4b;
              border-top: 1px solid #999999; }

/*# sourceMappingURL=index.css.map */
